body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #000;
}

.square {
    border: 1px dotted gray;
    box-sizing: border-box;
}

div.side-box {
    display: flex;
    width: 450px;
    height: 450px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

button {
    font-size: 20px;
    border-radius: 5px;
    padding: 4px;
    width: 150px;
    height: 40px;
}